@page "/games/tetris"
@using System.Collections.Concurrent
@using Timer = System.Timers.Timer
@rendermode InteractiveWebAssembly

<PageTitle>TetrisGame</PageTitle>

<div @ref="gameUIElement" tabindex="0" id="gameContainer" @onkeydown="OnKeyDown" @onkeyup="OnKeyUp">
    <CascadingValue Value="Options">
        @if (!@isLoaded)
        {
            <p>Loading</p>
        }
        else
        {
            <div id="game_container">
                <div id="canvas">
                    <div id="tetris_grid" style="@canvasStyle">
                        <!-- Active Block -->
                        <TetrisBlock Id="ActiveBlock" BlockObject="@(GameCanvas.ActiveBlock)"></TetrisBlock>
                        <!-- End of Active Block -->
                        <!-- Canvas cells -->
                        @for (int row = 0; row < GameCanvas.Rows; row++)
                        {
                            for (int column = 0; column < GameCanvas.Columns; column++)
                            {
                                <div id="CanvasCell_@(row)_@(column)" class="@(GameCanvas.Points[row,column].IsOccupied ? "CanvasCell" : "EmptyCanvasCell")" style="background-color: @(GameCanvas.Points[row,column].Color)"></div>
                            }
                        }
                        <!-- End of Canvas cells -->
                    </div>
                </div>

                <div id="control_panel">
                    <button @onclick="StartButtonClicked">@GetButtonText()</button>
                    <div id="candidates">
                        @foreach (var candidateBlock in GameCanvas.BlockCandidatesQueue)
                        {
                            <TetrisBlock Id="Candidate0" BlockObject="@(candidateBlock)"></TetrisBlock>
                        }
                        @* <TetrisBlock Id="Candidate0" BlockObject="@(GameCanvas.BlockCandidatesQueue.ElementAt(0))"></TetrisBlock>
                        <TetrisBlock Id="Candidate1" BlockObject="@(GameCanvas.BlockCandidatesQueue.ElementAt(1))"></TetrisBlock>
                        <TetrisBlock id="Candidate2" BlockObject="@(GameCanvas.BlockCandidatesQueue.ElementAt(2))"></TetrisBlock> *@
                    </div>
                </div>
            </div>
        }
    </CascadingValue>
</div>

@code {
    enum Keys
    {
        Up,
        Right,
        Down,
        Left
    }

    enum GameStatus
    {
        Stopped,
        Running,
        Loose
    }

    bool isLoaded = false;
    ElementReference gameUIElement;
    GameOptions Options = new GameOptions()
        {
            CanvasRowsCount = 18,
            CanvasColumnsCount = 12,
            CellSize = 40
        };

    Canvas GameCanvas;
    GameStatus TetrisGameStatus = GameStatus.Stopped;

    ConcurrentDictionary<Keys, Object> PressedKeys = new ConcurrentDictionary<Keys, Object>();
    ConcurrentDictionary<Keys, Object> KeysWaitingForProcess = new ConcurrentDictionary<Keys, Object>();


    string canvasStyle = "";

    Timer fallingTimer = new Timer(2000);
    Timer keyPressingTimer = new Timer();

    private object timerLock = new object();

    private string GetButtonText()
    {
        return TetrisGameStatus switch
        {
            GameStatus.Stopped => "Start",
            GameStatus.Running => "Stop",
            GameStatus.Loose => "Loose",
            _ => "Error"
        };
    }

    private void CheckMistake(string tag)
    {
        for (int i = 0; i < GameCanvas.ActiveBlock.BlockWidth; i++)
        {
            if (GameCanvas.Points[0, GameCanvas.ActiveBlock.PositionColumn + i].IsOccupied)
            {
                Console.WriteLine($"WRONG in {tag}.");
            }
        }
    }

    private void FallingLoop(object? source, System.Timers.ElapsedEventArgs? args)
    {
        Monitor.Enter(timerLock);
        Console.WriteLine("Enter Falling loop.");
        if (GameCanvas.IsCanvasFull)
        {
            fallingTimer.Stop();
        }

        GameCanvas.MoveActiveBlockTo(Direction.Down);

        CheckMistake("FallingLoop1");

        StateHasChanged();

        CheckMistake("FallingLoop2");
        Monitor.Exit(timerLock);
        Console.WriteLine("Exit Falling loop.");
    }

    private void ReactToKeysInDic(ConcurrentDictionary<Keys, object> keysDic, bool removeKey)
    {
        CheckMistake("ReactToKeysInDic1");
        if (keysDic.ContainsKey(Keys.Up))
        {
            GameCanvas.TurnActiveBlock();
            if (removeKey)
                keysDic.TryRemove(Keys.Up, out _);
        }
        if (keysDic.ContainsKey(Keys.Left))
        {
            GameCanvas.MoveActiveBlockTo(Direction.Left);
            if (removeKey)
                keysDic.TryRemove(Keys.Left, out _);
        }
        if (keysDic.ContainsKey(Keys.Right))
        {
            GameCanvas.MoveActiveBlockTo(Direction.Right);
            if (removeKey)
                keysDic.TryRemove(Keys.Right, out _);
        }
        if (keysDic.ContainsKey(Keys.Down))
        {
            GameCanvas.MoveActiveBlockTo(Direction.Down);
            if (removeKey)
                keysDic.TryRemove(Keys.Down, out _);
        }


        CheckMistake("ReactToKeysInDic2");
    }

    private void KeyPressLoop(object? source, System.Timers.ElapsedEventArgs? args)
    {
        Monitor.Enter(timerLock);
        Console.WriteLine("Enter KeyPressLoop.");

        var isPressedKeysEmpty = PressedKeys.IsEmpty;
        var isKeysWaitingForProcessEmpty = KeysWaitingForProcess.IsEmpty;

        if (isPressedKeysEmpty && !isKeysWaitingForProcessEmpty)
        {
            Console.WriteLine("1");
            keyPressingTimer.Interval = 2000;
            ReactToKeysInDic(KeysWaitingForProcess, true);
            keyPressingTimer.Stop();
        }

        if (!isPressedKeysEmpty && !isKeysWaitingForProcessEmpty)
        {
            Console.WriteLine("2");
            keyPressingTimer.Interval = 1000;
            ReactToKeysInDic(KeysWaitingForProcess, true);
            // remove key from KeysWaitingForProcess
        }
        if (isPressedKeysEmpty && isKeysWaitingForProcessEmpty)
        {
            Console.WriteLine("3");
            keyPressingTimer.Stop();
        }

        if (!isPressedKeysEmpty && isKeysWaitingForProcessEmpty)
        {
            Console.WriteLine("4");
            keyPressingTimer.Interval = 50;
            ReactToKeysInDic(PressedKeys, false);
        }



        if (GameCanvas.IsCanvasFull)
        {
            Console.WriteLine("5");
            TetrisGameStatus = GameStatus.Loose;
            keyPressingTimer.Stop();
        }

        StateHasChanged();

        // if (!GameCanvas.IsCanvasFull)
        // {
        //     Console.WriteLine("6");
        //     keyPressingTimer.Start();
        // }

        Monitor.Exit(timerLock);

        Console.WriteLine("Exit KeyPressLoop.");
    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "ArrowUp":
                PressedKeys.TryAdd(Keys.Up, null);
                KeysWaitingForProcess.TryAdd(Keys.Up, null);
                break;
            case "ArrowLeft":
                PressedKeys.TryAdd(Keys.Left, null);
                KeysWaitingForProcess.TryAdd(Keys.Left, null);
                break;
            case "ArrowDown":
                PressedKeys.TryAdd(Keys.Down, null);
                KeysWaitingForProcess.TryAdd(Keys.Down, null);
                break;
            case "ArrowRight":
                PressedKeys.TryAdd(Keys.Right, null);
                KeysWaitingForProcess.TryAdd(Keys.Right, null);
                break;
            default:
                break;
        }
        KeyPressLoop(null, null);
    }

    private void OnKeyUp(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "ArrowUp":
                PressedKeys.TryRemove(Keys.Up, out _);
                break;
            case "ArrowLeft":
                PressedKeys.TryRemove(Keys.Left, out _);
                break;
            case "ArrowDown":
                PressedKeys.TryRemove(Keys.Down, out _);
                break;
            case "ArrowRight":
                PressedKeys.TryRemove(Keys.Right, out _);
                break;
            default:
                break;
        }
    }

    private void StartNewCanvas()
    {
        canvasStyle = $"width: {Options.CanvasColumnsCount * Options.CellSize + 8}px; height: {Options.CanvasRowsCount * Options.CellSize + 8}px; grid-template-columns: repeat({Options.CanvasColumnsCount}, {Options.CellSize}px); grid-template-rows: repeat({Options.CanvasRowsCount}, {Options.CellSize}px);";
        GameCanvas = new Canvas(Options);
    }

    protected override async Task OnParametersSetAsync()
    {
        StartNewCanvas();
        fallingTimer.AutoReset = true;
        fallingTimer.Elapsed += FallingLoop;

        keyPressingTimer.AutoReset = false;
        keyPressingTimer.Elapsed += KeyPressLoop;
        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isLoaded = true;
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task StartButtonClicked(MouseEventArgs e)
    {
        switch (TetrisGameStatus)
        {
            case GameStatus.Stopped:
            case GameStatus.Loose:
                GameCanvas.StartGame();
                TetrisGameStatus = GameStatus.Running;
                await gameUIElement.FocusAsync();
                fallingTimer.Start();
                break;
            case GameStatus.Running:
                TetrisGameStatus = GameStatus.Stopped;
                fallingTimer.Stop();
                break;
            default:
                break;
        }
    }
}