@page "/games/tetris"
@using System.Collections.Concurrent
@rendermode InteractiveWebAssembly

<PageTitle>TetrisGame</PageTitle>

<div @ref="gameUIElement" tabindex="0" id="gameContainer" @onkeydown="OnKeyDown" @onkeyup="OnKeyUp">
    <CascadingValue Value="Options">
        @if (!@isLoaded)
        {
            <p>Loading</p>
        }
        else
        {
            <button @onclick="StartButtonClicked">@GetButtonText()</button>
            <div id="canvas" style="@canvasStyle">
                <!-- Active Block -->
                <TetrisBlock BlockObject="@(GameCanvas.ActiveBlock)"></TetrisBlock>
                <!-- End of Active Block -->
                <!-- Canvas cells -->
                @for (int row = 0; row < GameCanvas.Rows; row++)
                {
                    for (int column = 0; column < GameCanvas.Columns; column++)
                    {
                        <div id="CanvasCell_@(row)_@(column)" class="@(GameCanvas.Points[row,column].IsOccupied ? "CanvasCell" : "EmptyCanvasCell")" style="background-color: @(GameCanvas.Points[row,column].Color)"></div>
                    }
                }
                <!-- End of Canvas cells -->
            </div>
        }
    </CascadingValue>
</div>

@code {
    enum Keys
    {
        Up,
        Right,
        Down,
        Left
    }

    enum GameStatus
    {
        Stopped,
        Running,
        Loose
    }

    bool isLoaded = false;
    ElementReference gameUIElement;
    CancellationTokenSource loopWaitingCancellationToken = new CancellationTokenSource();

    GameOptions Options = new GameOptions()
        {
            CanvasRowsCount = 18,
            CanvasColumnsCount = 12,
            CellSize = 40
        };

    Canvas GameCanvas;
    GameStatus TetrisGameStatus = GameStatus.Stopped;

    ConcurrentDictionary<Keys, Object> PressedKeys = new ConcurrentDictionary<Keys, Object>();
    ConcurrentDictionary<Keys, Object> KeysWaitingForProcess = new ConcurrentDictionary<Keys, Object>();


    string canvasStyle = "";

    private string GetButtonText()
    {
        return TetrisGameStatus switch
        {
            GameStatus.Stopped => "Start",
            GameStatus.Running => "Stop",
            GameStatus.Loose => "Loose",
            _ => "Error"
        };
    }

    bool processedKeyTap = false;

    private async Task GameLoop()
    {
        while (TetrisGameStatus == GameStatus.Running)
        {
            if (PressedKeys.Count == 0 || processedKeyTap)
            {
                try
                {
                    if (processedKeyTap)
                    {
                        await Task.Delay(300, loopWaitingCancellationToken.Token);
                    }
                    else
                    {
                        await Task.Delay(500, loopWaitingCancellationToken.Token);
                    }
                    GameCanvas.MoveActiveBlockTo(Direction.Down);
                    processedKeyTap = false;
                }
                catch (OperationCanceledException)
                {
                    if (KeysWaitingForProcess.ContainsKey(Keys.Up))
                    {
                        GameCanvas.TurnActiveBlock();
                        KeysWaitingForProcess.TryRemove(Keys.Up, out _);
                    }
                    if (KeysWaitingForProcess.ContainsKey(Keys.Left))
                    {
                        GameCanvas.MoveActiveBlockTo(Direction.Left);
                        KeysWaitingForProcess.TryRemove(Keys.Left, out _);
                    }
                    if (KeysWaitingForProcess.ContainsKey(Keys.Right))
                    {
                        GameCanvas.MoveActiveBlockTo(Direction.Right);
                        KeysWaitingForProcess.TryRemove(Keys.Right, out _);
                    }
                    if (KeysWaitingForProcess.ContainsKey(Keys.Down))
                    {
                        GameCanvas.MoveActiveBlockTo(Direction.Down);
                        KeysWaitingForProcess.TryRemove(Keys.Down, out _);
                    }
                    loopWaitingCancellationToken = new CancellationTokenSource();
                    processedKeyTap = true;
                }
            }
            else
            {
                await Task.Delay(50);

                if (PressedKeys.ContainsKey(Keys.Up))
                {
                    GameCanvas.TurnActiveBlock();
                }
                if (PressedKeys.ContainsKey(Keys.Left))
                {
                    GameCanvas.MoveActiveBlockTo(Direction.Left);
                }
                if (PressedKeys.ContainsKey(Keys.Right))
                {
                    GameCanvas.MoveActiveBlockTo(Direction.Right);
                }
                if (PressedKeys.ContainsKey(Keys.Down))
                {
                    GameCanvas.MoveActiveBlockTo(Direction.Down);
                }
            }


            if (GameCanvas.IsCanvasFull)
            {
                TetrisGameStatus = GameStatus.Loose;
            }

            StateHasChanged();
        }
    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        Console.WriteLine($"KeyDown: {e.Key}");
        switch (e.Key)
        {
            case "ArrowUp":
                PressedKeys.TryAdd(Keys.Up, null);
                KeysWaitingForProcess.TryAdd(Keys.Up, null);
                break;
            case "ArrowLeft":
                PressedKeys.TryAdd(Keys.Left, null);
                KeysWaitingForProcess.TryAdd(Keys.Left, null);
                break;
            case "ArrowDown":
                PressedKeys.TryAdd(Keys.Down, null);
                KeysWaitingForProcess.TryAdd(Keys.Down, null);
                break;
            case "ArrowRight":
                PressedKeys.TryAdd(Keys.Right, null);
                KeysWaitingForProcess.TryAdd(Keys.Right, null);
                break;
            default:
                break;
        }
        loopWaitingCancellationToken.Cancel();
    }

    private void OnKeyUp(KeyboardEventArgs e)
    {
        Console.WriteLine($"KeyUp: {e.Key}");
        switch (e.Key)
        {
            case "ArrowUp":
                PressedKeys.TryRemove(Keys.Up, out _);
                break;
            case "ArrowLeft":
                PressedKeys.TryRemove(Keys.Left, out _);
                break;
            case "ArrowDown":
                PressedKeys.TryRemove(Keys.Down, out _);
                break;
            case "ArrowRight":
                PressedKeys.TryRemove(Keys.Right, out _);
                break;
            default:
                break;
        }
    }

    private void StartNewCanvas()
    {
        canvasStyle = $"width: {Options.CanvasColumnsCount * Options.CellSize + 8}px; height: {Options.CanvasRowsCount * Options.CellSize + 8}px; grid-template-columns: repeat({Options.CanvasColumnsCount}, {Options.CellSize}px); grid-template-rows: repeat({Options.CanvasRowsCount}, {Options.CellSize}px);";
        GameCanvas = new Canvas(Options);
    }

    protected override async Task OnParametersSetAsync()
    {
        StartNewCanvas();
        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isLoaded = true;
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task StartButtonClicked(MouseEventArgs e)
    {
        switch (TetrisGameStatus)
        {
            case GameStatus.Stopped:
            case GameStatus.Loose:
                StartNewCanvas();
                TetrisGameStatus = GameStatus.Running;
                await gameUIElement.FocusAsync();
                GameLoop();
                break;
            case GameStatus.Running:
                TetrisGameStatus = GameStatus.Stopped;
                break;
            default:
                break;
        }
    }
}